div.button {
  display: inline-block;
  font-family: Quicksand;
  font-size: 12pt;
  font-weight: 700;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  color: white;
  background-color: cornflowerblue;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  position: relative;
}

@media (hover: hover) {
  .button:hover {
    background-color: blue;
  }
  .button.inverted:hover {
    background-color: transparent;
    color: rgb(0, 0, 255);
  }
}

@media (hover: none) {
  .button:hover {
    background-color: inherit;
    color: inherit;
  }
  .button.inverted:hover {
    background-color: inherit;
    color: inherit;
  }
}

.button.disabled {
  background-color: lightslategray;
  color: lightgray;
  cursor: default;
  pointer-events: none;
}

.button.inverted {
  background-color: yellow;
  color: cornflowerblue;
}

.inverted.disabled {
  background-color: white;
  color: lightgray;
  cursor: default;
  pointer-events: none;
}

div.button-effect {
  position: absolute;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  background-color: navy;
}

div.button-text {
  position: relative;
  background-color: transparent;
}
