:root {
  --input-series-delete-selected: url(../res/image/required/input_series_delete_red.png);
  --input-series-delete: url(../res/image/required/input_series_delete_black.png);
}

div.input-series-parent {
  width: 100%;
  font-size: 12pt;
  color: black;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

div.input-series-grid {
  border: 4px solid gray;
  margin-bottom: 16px;
  border-radius: 8px;
  position: relative;
}

div.input-series-ticket-type-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-serie-date-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-serie-publisher-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-series-delete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(128, 128, 128, 0.7);
  background-image: var(--input-series-delete);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

div.input-series-control-grid {
  width: 100%;
  display: grid;
  margin-bottom: 16px;
  grid-template-columns: 1fr auto;
}

div.input-series-control-delete {
  width: 100%;
  display: none;
  margin-bottom: 16px;
  grid-template-columns: 1fr auto;
}

.button.input-series-control-cancel-delete {
  justify-self: start;
}

.button.input-series-control-confirm-delete {
  justify-self: end;
  display: none;
}

div.input-detail-parent {
  width: 100%;
  font-size: 12pt;
  color: black;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  border: 4px solid gray;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}

div.input-series-send-outer {
  width: 100%;
  font-size: 12pt;
  box-sizing: border-box;
  background-color: white;
  position: relative;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  text-align: right;
  padding-right: 12px;
}
