:root {
  --input-series-delete-selected: url(../image/required/input_series_delete_red.png);
  --input-series-delete: url(../image/required/input_series_delete_black.png);
}

div.input-series-parent {
  width: 100%;
  font-size: 12pt;
  color: black;
  overflow: hidden;
  border-radius: 8px;
  border: 4px solid transparent;
  box-sizing: border-box;
  background-color: white;
  position: relative;
}

div.input-series-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
}

div.input-series-ticket-type-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-serie-date-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-serie-publisher-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 4px;
  padding-bottom: 4px;
}

div.input-series-delete {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(128, 128, 128, 0.7);
  background-image: var(--input-series-delete);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
